.user-doctree-box {
  background-color: #f7f7f7;
  position: absolute;
  z-index: 988;
  width: calc(20%);
  max-width: 260px;
  height: calc(100vh);
  margin-top: 0;
  margin-left: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden; }

.user-doctree-box > p:first-child {
  padding: 3px 6px;
  background-color: #caaf8c;
  font-weight: 800; }

.treeview {
  margin: 5px;
  padding: 2px;
  width: "100%"; }

.treeview:hover {
  padding-top: 4px;
  width: "100%"; }

.treeview > .toggle {
  pointer-events: all;
  cursor: pointer; }

.treeview > .toggle:hover {
  color: #63b1de;
  fill: #63b1de; }

.item {
  margin: 1px;
  padding: 1px;
  width: "100%";
  cursor: "pointer";
  font-size: 12px;
  line-height: 1.5em; }

.item.actived {
  color: #d18016;
  margin-top: 2px;
  margin-bottom: 1px;
  font-weight: 800; }

.item:hover {
  color: #d18016;
  margin-top: 2px;
  margin-bottom: 1px;
  font-weight: 800; }
@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body,
html {
  width: 100%;
  height: auto;
  font-size: 12px !important;
  font-family: 'microsoft yahei'; }

ol,
ul {
  margin-top: 0;
  margin-bottom: 2px !important; }

.emra-hx {
  width: 100%;
  height: 100%; }
  .emra-hx .edui-editor-toolbarbox {
    display: none; }

.ueditor-hx {
  width: 100%;
  height: 100%;
  position: relative; }

.ueditor-toobar-hx {
  width: 100%;
  margin: 0 auto;
  background: #f7f7f7;
  position: relative;
  top: 0;
  border-bottom: 1px solid #e7e7e7; }
  .ueditor-toobar-hx .edui-button-hx {
    display: inline-block;
    padding: 2px 8px;
    margin-right: 8px;
    border: 1px solid #cccccc; }
    .ueditor-toobar-hx .edui-button-hx:hover, .ueditor-toobar-hx .edui-button-hx.active {
      background-color: #fff5d4;
      border: 1px solid #dcac6c; }

.tab-list {
  width: 100%; }

.tab-list-item {
  display: inline-block;
  padding: 3px 15px;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border-bottom: none;
  cursor: pointer;
  border: 1px solid transparent; }
  .tab-list-item:hover {
    background: #fff5d4;
    border: 1px solid #dcac6c; }

.tab-list-item.theme {
  background: #fff5d4;
  color: #202020;
  padding: 4px 15px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  margin: 0;
  cursor: default; }

.tab-list-item.tab-list-item-active {
  background: #e0992d;
  color: #fdfdfd; }

.tab-content {
  width: 100%; }

.tab-content-item {
  width: calc(100%);
  display: none;
  padding: 6px; }

.tab-content-item.tab-content-item-active {
  display: block;
  background: #f7f7f7;
  border-top: 1px solid #f1f1f1; }

.ueditor-content-hx {
  width: 100%;
  height: calc(100%);
  position: absolute;
  overflow: auto;
  background-color: #f7f7f7; }

.ueditor-content-hx-full {
  width: 100%;
  height: calc(100%);
  position: absolute;
  overflow: auto; }

.ueditor-content-desgin {
  margin: 10px 10%;
  margin-top: 10px;
  padding: 0 25px;
  border: 1px solid #d4d4d4;
  background-color: white;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 6px, rgba(0, 0, 0, 0.2) 0 1px 3px; }

.ueditor-content-edit {
  margin: 10px auto;
  margin-top: 10px;
  padding: 0 25px;
  border: 1px solid #d4d4d4;
  background-color: white;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 6px, rgba(0, 0, 0, 0.2) 0 1px 3px; }

.ueditor-script-hx {
  margin: 15px auto;
  /*min-height:800px;*/ }

/*图标样式 空间库图标 */
.edui-default .edui-toolbar .edui-button.edui-for-controllibrary-1 .edui-icon {
  width: 29px !important;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat; }

/*图标样式 多选图标 */
.edui-default .edui-toolbar .edui-button.edui-for-checkbox-1 .edui-icon {
  width: 18px !important;
  background-size: 85%;
  background-image: url(./images/check2.png?b9b581a62f30c940783b4f6c0c44d8b2);
  background-position: center center;
  background-repeat: no-repeat; }

/*图标样式 单选图标 */
.edui-default .edui-toolbar .edui-button.edui-for-radio-1 .edui-icon {
  width: 18px !important;
  background-image: url(./images/check1.png?49e3636c55b21886c814b1358950d329);
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat; }

/*图标样式 下拉框图标 */
.edui-default .edui-toolbar .edui-button.edui-for-select-1 .edui-icon {
  width: 20px !important;
  background-image: url(./images/dropdown.png?85f82d88cea6559544708f76f363d8f0);
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat; }

/*图标样式 单行文本输入图标 */
.edui-default .edui-toolbar .edui-button.edui-for-input-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/text.png?e0f7e1abf507fa13f421322b1f6e9364);
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat; }

/*图标样式 单行文本输入图标 */
.edui-default .edui-toolbar .edui-button.edui-for-totalscore-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/score-2.png?63b94f83a472e2f19751100f1d247977);
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat; }

/*图标样式 单行文本输入图标 */
.edui-default .edui-toolbar .edui-button.edui-for-score-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/score-3.png?9632aadc92c5aa69dd4c2b2184ad7c27);
  background-size: 90%;
  background-position: center center;
  background-repeat: no-repeat; }

/*图标样式 多行文本输入图标 */
.edui-default .edui-toolbar .edui-button.edui-for-textarea-1 .edui-icon {
  width: 22px !important;
  background-image: url(./images/text.png?e0f7e1abf507fa13f421322b1f6e9364);
  background-size: 80% 80%;
  background-position: center center;
  background-repeat: no-repeat; }

/*图标样式 时间控件输入图标 */
.edui-default .edui-toolbar .edui-button.edui-for-timeinput-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/date-2.png?426acc9ecb9dd7784f16a81e07370469);
  background-size: 105%;
  background-position: center center;
  background-repeat: no-repeat; }

/* 图标样式 获取控件*/
.edui-default .edui-toolbar .edui-button.edui-for-allwidgets-1 .edui-icon {
  background-position: -401px -40px; }

/* 图标样式 获取html*/
.edui-default .edui-toolbar .edui-button.edui-for-allhtml-1 .edui-icon {
  width: 18px !important;
  height: 18px !important;
  background-image: url(./images/allhtml.png?1386119540e434ded7710842402c25e9);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式 保存*/
.edui-default .edui-toolbar .edui-button.edui-for-save-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/save.png?65656a7f58013f8376796df373e2e87f);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式 保存*/
.edui-default .edui-toolbar .edui-button.edui-for-mobile-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/phone-2.png?c0c7007a017fcb2231f1e999422adc8f);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式 打开文档*/
.edui-default .edui-toolbar .edui-button.edui-for-open-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/doc-cloud.png?e43c5046d3c868d5c08cac9be771be10);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式 创建文档*/
.edui-default .edui-toolbar .edui-button.edui-for-new-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/doc-new.png?36b91c8b0ea278624a5a7fab9eab4dbf);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式 创建文档*/
.edui-default .edui-toolbar .edui-button.edui-for-delete-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/delete.png?138218748d372de23132d90d9f335124);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，打开文档 */
.edui-default .edui-toolbar .edui-button.edui-for-opendoc .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/doc-cloud.png?e43c5046d3c868d5c08cac9be771be10);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，数据源 */
.edui-default .edui-toolbar .edui-button.edui-for-datasource-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/datasource-4.png?0dc1361ed726a4d37a10f1b14e1de180);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，常用组件 */
.edui-default .edui-toolbar .edui-button.edui-for-component-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/component-2.png?30acb27ae3a3bdc2d671fc6ae313643a);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，患者列表 */
.edui-default .edui-toolbar .edui-button.edui-for-patient-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/patient.png?7c6fb4df7177a4bae0cbda435e0e8f79);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，设计模式 */
.edui-default .edui-toolbar .edui-button.edui-for-design-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/design.png?f078f590634b53e353ddb2a2fae98926);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，设计模式 */
.edui-default .edui-toolbar .edui-button.edui-for-readonly-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/readonly-5.png?277c203de8c86ed6d3929b7aaa6d38d5);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，设计模式 */
.edui-default .edui-toolbar .edui-button.edui-for-review-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/review.png?64a8de85fd768cb4d3a807d1d8a70efc);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，设计模式 */
.edui-default .edui-toolbar .edui-button.edui-for-edit-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/edit.png?39e240a68b37ba31cd73b85de9e3c080);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，纸张方向横向 */
.edui-default .edui-toolbar .edui-button.edui-for-orient .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/doc-v.png?7ba482023afbc5fd29a9120fd31a9e96);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，纸张方向纵向 */
.edui-default .edui-toolbar .edui-button.edui-for-portrait .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/doc-h.png?343daafd711475ccfe3e22ac963bc920);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，纸张方向横向 */
.edui-default .edui-toolbar .edui-button.edui-for-vertical-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/doc-h.png?343daafd711475ccfe3e22ac963bc920);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，纸张方向纵向 */
.edui-default .edui-toolbar .edui-button.edui-for-horizontal2-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/doc-v.png?7ba482023afbc5fd29a9120fd31a9e96);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，显示分页 */
.edui-default .edui-toolbar .edui-button.edui-for-pagenumber-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/page-3.png?897b55c48ae6d33cef7bc1966eaca4b1);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，批注 */
.edui-default .edui-toolbar .edui-button.edui-for-comment-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/comment-3.png?2fa1a112b124a7fc50ec70c8650ab171);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，拷贝文档 */
.edui-default .edui-toolbar .edui-button.edui-for-copy-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/copy.png?61487f1a4a25b740a40a19816a2252ff);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center; }

/* 图标样式，拷贝文档 */
.edui-default .edui-toolbar .edui-button.edui-for-check-1 .edui-icon {
  width: 20px !important;
  height: 20px !important;
  background-image: url(./images/check.png?04921e1dba15639aac35c47c00b149cc);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center center; }

.edui-button-wrap:hover {
  background-color: #fff5d4;
  border: 1px solid #dcac6c;
  padding: 0 !important; }

.edui-default .edui-bubble .edui-popup-content {
  font-family: 'microsoft yahei' !important;
  font-size: 12px !important;
  padding: 4px 12px !important; }

/* 通用组件样式 */
.panel {
  color: #3c3c3c;
  font-family: 'microsoft yahei';
  border: 1px solid #cccccc; }
  .panel .panel-title {
    font-size: 12px;
    text-align: center; }
  .panel .panel-content {
    padding: 8px; }

/**
组件属性
**/
.user-properties-box {
  background-color: #f2f2f2;
  position: absolute;
  z-index: 988;
  width: calc(20%);
  min-width: 92px;
  max-width: 220px;
  height: calc(100vh);
  margin-top: 0;
  margin-left: 0;
  overflow-y: scroll; }

.properties-item {
  padding-right: 10px; }

.properties-item .option {
  cursor: default;
  padding: 2px;
  background-color: #e1e1e1; }

.properties-item .option:hover {
  padding: 2px;
  background-color: #f5e5d1;
  border: 1px solid #e8f4f7; }

.user-properties-icon {
  float: right;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  background: url(./images/arrow-left.png?403073ca61776b47177ec4ef8e212cd1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  cursor: pointer; }

.user-properties-icon:hover {
  border: 1px solid #dcac6c;
  background-color: #fff5d4; }

.user-properties-box > div:first-child {
  padding: 4px 6px;
  position: relative;
  left: -1;
  width: 100%;
  background-color: #f7f7f7;
  color: black;
  font-weight: 800;
  margin: 0 !important; }

/**常用组件**/
.user-control-box {
  background-color: #f2f2f2;
  position: absolute;
  z-index: 988;
  width: calc(20%);
  min-width: 92px;
  max-width: 220px;
  min-height: calc(100vh);
  margin-top: 0;
  margin-left: 0; }

.properties-content {
  margin-top: 10px;
  padding-left: 15px; }

.properties-item p {
  margin: 0 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-top: 5px !important;
  margin-bottom: 3px !important; }

.properties-item input[type='number'] {
  float: right;
  width: 25%; }

.properties-item input[type='text'] {
  float: right;
  width: 70%; }

.properties-item input[type='color'] {
  float: right;
  width: 25%; }

.properties-item input[type='radio'] {
  margin-left: 10px; }

.properties-item input[type='checkbox'] {
  margin-left: 10px; }

.properties-item select {
  float: right; }

.user-control-box-icon {
  float: right;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  background: url(./images/arrow-left.png?403073ca61776b47177ec4ef8e212cd1);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  cursor: pointer; }

.user-control-box-icon:hover {
  border: 1px solid #dcac6c;
  background-color: #fff5d4; }

.user-control-box ul {
  list-style-type: none;
  padding: 5px; }

.user-control-box > div:first-child {
  padding: 4px 6px;
  position: relative;
  left: -1;
  width: 100%;
  background-color: #f7f7f7;
  color: black;
  font-weight: 800;
  margin: 0 !important; }

.user-control-box li {
  padding: 5px 5px;
  margin-bottom: 2px;
  border-radius: 0px 5px 0px 5px;
  margin-top: 2px; }

.user-control-box li:first-child {
  border-top: 0; }

.user-control-box li:hover {
  background-color: rgba(162, 204, 214, 0.7);
  font-weight: 800;
  border-top: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #cf6813; }

.user-control-box-icon-input {
  background: url(./images/text.png?e0f7e1abf507fa13f421322b1f6e9364);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  margin-right: 5px; }

.user-control-box-icon-input-quick {
  background: url(./images/text.png?e0f7e1abf507fa13f421322b1f6e9364);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  margin-right: 5px; }

.user-control-box-icon-checkbox {
  background: url(./images/check2.png?b9b581a62f30c940783b4f6c0c44d8b2);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  margin-right: 5px; }

.user-control-box-icon-checkbox-quick {
  background: url(./images/check2.png?b9b581a62f30c940783b4f6c0c44d8b2);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  margin-right: 5px; }

.user-control-box-icon-radio {
  background: url(./images/check1.png?49e3636c55b21886c814b1358950d329);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  margin-right: 5px; }

.user-control-box-icon-radio-quick {
  background: url(./images/check1.png?49e3636c55b21886c814b1358950d329);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  margin-right: 5px; }

.user-control-box-icon-select {
  background: url(./images/dropdown.png?85f82d88cea6559544708f76f363d8f0);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  margin-right: 5px; }

.user-control-box-icon-select-quick {
  background: url(./images/dropdown.png?85f82d88cea6559544708f76f363d8f0);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  margin-right: 5px; }

.user-control-box-icon-datetime {
  background: url(./images/date-2.png?426acc9ecb9dd7784f16a81e07370469);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  margin-right: 5px; }

.user-control-box-item {
  display: flex;
  align-items: center; }

.fixed-toobar {
  padding: 2px 0;
  border-top: 1px solid #f4f4f4; }

/**
快捷填写浮动框
**/
.quick-box {
  background-color: #f9f9f9;
  position: absolute;
  z-index: 1000;
  width: calc(10%);
  min-height: 200px;
  margin-top: 0;
  margin-left: 0;
  max-height: calc(100vh);
  overflow-y: scroll;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #888888; }

.quick-box > p:first-child {
  padding: 4px 6px;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #f1f1f1;
  color: whitesmoke;
  font-weight: 800;
  box-shadow: inset 0px 20px 15px -20px #a8a7a6;
  margin: 0 !important; }

.quick-box .main {
  border-left: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1; }

.quick-box input[disabled] {
  color: gray;
  background: #f7f7f7; }

.quick-box table {
  margin-left: 10px; }

.quick-box table td {
  padding: 8px 0px;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px; }

.quick-box td input[type='text'] {
  width: 70%; }

.quick-box .title {
  font-weight: bold;
  width: 12%;
  text-align: right;
  padding-right: 10px; }

.quick-box .form .content {
  width: 70%;
  text-align: left;
  padding-left: 5px; }

.quick-box .form input[type='text'] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #cccccc;
  padding: 2px 3px; }

.float-menu {
  position: absolute;
  writing-mode: vertical-lr;
  top: 150px;
  left: -1px;
  height: 50px;
  width: 22px;
  padding: 3px;
  text-align: center;
  background: #ebe8e5;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 2px 2px #b9b6b0;
  z-index: 99999; }

.float-menu-icon {
  width: 20px;
  height: 20px;
  margin: auto atuo;
  background: url(./images/arrow-2.png?1c09031225c0a00c5da4cd00e1906bc5);
  background-repeat: no-repeat;
  background-size: 80% 80%;
  -moz-background-size: 80% 80%;
  margin-top: 15px;
  cursor: pointer; }

.option-icon-delete {
  background: url(./images/delete-6.png?92791630c1af16139896b0556315ca0a);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%; }

.option-add {
  display: block;
  width: 32px;
  height: 21px;
  float: right;
  margin-left: 4px;
  cursor: default; }

.option-add:hover {
  border: 1px solid #dcac6c;
  background-color: #fff5d4; }

.option-icon-add {
  display: inline-block;
  background: url(./images/add-6.png?5635feaf7d7337782f981295b1154a6e);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%; }

.option-icon-add2 {
  margin-top: 0 !important;
  vertical-align: middle;
  height: 15px !important;
  width: 15px !important;
  background: url(./images/add-2.png?4a9a2a9f673cc447a1649e6a958e0c8f);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%; }

.right {
  float: right;
  margin-right: 5px; }

.option-save {
  margin: auto auto;
  margin-top: 30px;
  background-color: #f4f4f4;
  width: calc(95%); }

.small-x {
  padding: 3px 6px !important;
  font-size: 12px !important; }

.option-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  cursor: pointer; }

.option-icon:hover {
  border: 1px solid #dcac6c;
  background-color: #fff5d4; }

.ueditor-table-left-bar {
  position: absolute;
  left: 0px;
  top: 0;
  width: 20px;
  height: 100%; }

.ueditor-table-left-bar > div {
  border: 1px solid #d4d4d4;
  position: absolute;
  border-radius: 5px;
  padding-top: 15px; }

.ueditor-table-left-bar .bar-split-v {
  background: #cccccc;
  cursor: row-resize; }

.ueditor-table-left-bar .bar-split-v:hover {
  background: #cccccc;
  cursor: row-resize; }

.ueditor-table-left-bar .bar-item-v {
  cursor: pointer; }

.ueditor-table-left-bar .bar-item-v:hover {
  background: #edf5fa; }

.ueditor-table-left-bar .bar-item-v.active {
  background: #edf5fa; }

.bar-item-v-all {
  background: url(./images/all-2.png?3028f0382205783e9a2f61e91be7094f);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 90% 90%; }

.bar-item-v-all.active {
  background: url(./images/all-3.png?2b02ff4eddc124d7f9f818621793ab5a);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 90% 90%; }

.bar-item-v-all:hover {
  background: url(./images/all-3.png?2b02ff4eddc124d7f9f818621793ab5a);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  cursor: pointer; }

.bar-add-row {
  color: #4c82f7;
  font-weight: bold;
  cursor: pointer; }

.bar-add-row:hover {
  background: #edf5fa;
  font-weight: bold; }

.properties-tab {
  width: 100%;
  display: flex;
  height: 21px;
  line-height: 21px; }

.properties-tab-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 0; }

.properties-tab-item:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 0; }

.properties-tab-item {
  width: calc((100% - 20px)/3);
  border: 1px solid #d4d4d4;
  text-align: center;
  background-color: white;
  cursor: pointer; }

.properties-tab-item:hover {
  background-color: #edf5fa; }

.properties-tab-item.active {
  background-color: #edf5fa; }

.properties-tab-content {
  padding-right: 20px; }

.ueditor-page-right-bar {
  position: absolute;
  right: 0px;
  top: 0;
  width: 20px;
  height: 100%; }

.ueditor-page-right-bar-item {
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./images/page-2.png?740541e86cd26a30a1c9a0f4a60eefa2);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%; }

.ueditor-page-right-bar-num {
  position: relative;
  width: 20px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  color: #464646; }

/*# sourceMappingURL=styles.css.map*/