.tui-checkbox:checked {
  background: #1673ff
}

.tui-checkbox {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-appearance: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: background-color ease 0.1s;
  transition: background-color ease 0.1s;
}

.tui-checkbox:checked::after {
  content: '';
  top: 5px;
  left: 5px;
  position: absolute;
  background: transparent;
  border: #fff solid 2px;
  border-top: none;
  border-right: none;
  height: 6px;
  width: 10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.tui-checkbox-box {
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 5px;
  margin-top: 10px;
  display: block;
}
.tui-checkbox-box input[type='radio'],input[type='checkbox'] {
  float: right;
  margin-right: 10px;
}

.tui-checkbox-box>span {
 margin-left: 10px;
}

