<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxiong.gloves.glovesapi.mapper.DocAttrMapper">
  <insert id="insertBatach">
    insert into t_doc_attr(doc_id,`version`,node_id,`node_name`,`color`,default_value,font_size,text_align,text_type,width,`type`,regex,style,score,plan,mode,required)
    values
    <foreach collection ="list" item="d" separator =",">
      (#{d.docId},#{d.version}, #{d.nodeId}, #{d.nodeName}, #{d.color}, #{d.defaultValue},#{d.fontSize},#{d.textAlign}, #{d.textType},#{d.width}, #{d.type}, #{d.regex}, #{d.style}, #{d.score}, #{d.plan},#{d.mode},#{d.required})
    </foreach>
  </insert>
</mapper>