<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxiong.gloves.glovesapi.mapper.DocInfoMapper">
  <select id="getDocInfoByPage" resultMap="docInfoListMap">
    select * from gloves.t_doc_manage
    <where>
      `status` &gt; 0
      <if test="keywords != null and keywords != ''">
        and (`doc_id` like '%#{keywords}%' or `doc_name` like '%#{keywords}%' or `dept_name` like '%#{keywords}%' or `doc_id` like '%#{keywords}%')
      </if>
    </where>
  </select>
  <resultMap id="docInfoListMap" type="hxiong.gloves.glovesapi.entity.DocInfo">
    <id column = "id" property = "id" />
    <result column = "doc_id" property = "docId" />
    <result column = "type" property = "type" />
    <result column = "doc_name" property = "docName" />
    <result column = "dept_id" property = "deptId" />
    <result column = "dept_name" property = "deptName" />
    <result column = "last_version" property = "lastVersion" />
    <result column = "create_user_id" property = "createUserId" />
    <result column = "create_user_name" property = "createUserName" />
    <result column = "create_time" property = "createTime" />
    <result column = "last_update_time" property = "lastUpdateTime" />
    <result column = "last_update_user_id" property = "lastUpdateUserId" />
    <result column = "last_update_user_name" property = "lastUpdateUserName" />

    <collection property="docs" select="hxiong.gloves.glovesapi.mapper.DocMapper.getDocListById" column="{docId=doc_id}" ofType="hxiong.gloves.glovesapi.entity.Doc">

    </collection>
  </resultMap>
</mapper>