<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hxiong.gloves.glovesapi.mapper.DocOptionsMapper" >
  <insert id="insertBatach">
    insert into t_doc_options(doc_id,`doc_version`,node_id,`label`,`value`)
    values
    <foreach collection ="list" item="d" separator =",">
      (#{d.docId},#{d.docVersion}, #{d.nodeId}, #{d.label}, #{d.value})
    </foreach >
  </insert>
</mapper>